@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --success-color: #198754;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #0dcaf0;
    --dark-color: #000;
    --light-color: #fff;
}

@layer components {
    .row{
        @apply flex items-center gap-1.5
    }

    .btn {
        @apply row py-1.5 px-2 border border-gray-200 rounded-lg bg-white text-gray-700 ;
    }

    .btn-success {
        @apply btn text-white bg-success  text-white
    }

    .btn-primary {
        @apply btn bg-primary text-white
    }

    .btn-primary > .icon{
        @apply text-white
    }

    .custom-scrollbar{
        @apply scrollbar scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100
    }


}

@layer utilities{
    body {
        @apply custom-scrollbar
    }
}