@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --success-color: #198754;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #0dcaf0;
    --dark-color: #000;
    --light-color: #fff;
}

@layer components {
    .btn {
        @apply py-1.5 px-2 border border-gray-200 rounded-lg inline-block bg-gray-600 transition hover:scale-105;
    }

    .btn-success {
        @apply btn text-white bg-success  text-white
    }

    .btn-primary {
        @apply btn bg-primary text-white
    }
}


/*.page-enter-active,*/
/*.page-leave-active {*/
/*    transition: all 0.4s;*/
/*}*/

/*.page-enter-from,*/
/*.page-leave-to {*/
/*    opacity: 0;*/
/*    filter: blur(1rem);*/
/*}*/

/*.rotate-enter-active,*/
/*.rotate-leave-active {*/
/*    transition: all 0.4s;*/
/*}*/

/*.rotate-enter-from,*/
/*.rotate-leave-to {*/
/*    opacity: 0;*/
/*    transform: rotate3d(1, 1, 1, 15deg);*/
/*}*/

/*.fade-enter-active,*/
/*.fade-leave-active {*/
/*    transition: opacity .5s;*/
/*}*/

/*.fade-enter,*/
/*.fade-leave-to {*/
/*    opacity: 0;*/
/*}*/

